body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: royalblue;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

